@import 'themes/colors';
@import 'themes/fonts';
@import 'themes/size';

.priority-container{
    .btn-label{
        font-size: vw(16);
        font-family: 'SFUIDisplay-Regular';
        margin: 0;
        margin-bottom: vw(10);
        color: #1C1A1A;
    }
    .btn-priority-problems{
        width: vw(150);
        height: vw(32);
        padding-top: vw(5);
        background-color: #F2F2F4;
        text-align: center;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: vw(5);
        font-family: 'Lato-Bold';
        font-size: vw(18);
        cursor: pointer;
        .priority-red-text{
            color: #FF7452;
        }
        .priority-yellow-text{
            color: #FFD500;
        }
        .priority-green-text{
            color: #76D672;
        }
        .priority-black-text{
            color: #1D1D1D;
        }
    }
}

@media (min-width: 600px) and (max-width: 1025px) {
    .priority-container{
        .btn-label{
            font-size: vw-tab(10);
            font-family: 'SFUIDisplay-Regular';
            margin: 0;
            margin-bottom: vw-tab(10);
            color: #1C1A1A;
        }
        .btn-priority-problems{
            width: vw-tab(125);
            height: vw-tab(32);
            line-height: vw-tab(32);
            background-color: #F2F2F4;
            text-align: center;
            box-shadow: 0px vw-tab(3) vw-tab(6) rgba(0, 0, 0, 0.161);
            border-radius: vw-tab(5);
            font-family: 'Lato-Bold';
            font-size: vw-tab(11);
            cursor: pointer;
            .priority-red-text{
                color: #FF7452;
            }
            .priority-yellow-text{
                color: #FFD500;
            }
            .priority-green-text{
                color: #76D672;
            }
            .priority-black-text{
                color: #1D1D1D;
            }
        }
    }
}

@media (max-width: 599px) {
    .priority-container{
        .btn-label{
            font-size: vw-mobile(8);
            font-family: 'SFUIDisplay-Regular';
            margin: 0;
            margin-bottom: vw-mobile(5);
            color: #1C1A1A;
        }
        .btn-priority-problems{
            width: vw-mobile(70);
            height: vw-mobile(25);
            line-height: vw-mobile(25);
            background-color: #F2F2F4;
            text-align: center;
            box-shadow: 0px vw-mobile(3) vw-mobile(6) rgba(0, 0, 0, 0.161);
            border-radius: vw-mobile(5);
            font-family: 'Lato-Bold';
            font-size: vw-mobile(9);
            cursor: pointer;
            .priority-red-text{
                color: #FF7452;
            }
            .priority-yellow-text{
                color: #FFD500;
            }
            .priority-green-text{
                color: #76D672;
            }
            .priority-black-text{
                color: #1D1D1D;
            }
        }
    }
}