@import "../../themes/colors";
@import "../../themes/fonts";
@import "../../themes/size";

.modal-SignUp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 0;
  width: 40%;
  .container-modal-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 50vw;
    overflow: auto;
    border-radius: 0.78125vw;
    max-height: 90vh;
    overflow-x: hidden;
    .login-modal-body-register {
      background-color: white;
      margin: auto;
      border-radius: vw(15);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: vw(15) vw(24) vw(50) vw(24);
    }
    .titleInput {
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 10px;
      letter-spacing: 0.0928571px;
      color: #8e8e8e;
      margin-bottom: 0;
    }
    .title {
      font-family: "SFUIDisplay-Regular";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #f3d641;
    }
    .titleHaveAcc {
      font-family: "SFUIDisplay-Regular";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      margin-right: 5px;
      color: #000000;
    }
    .btn-sign-up {
      width: 100%;
      height: 50px;
      background: #ffd500;
      border-radius: 12px;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: 10px;
    }
    .titleButtonSignUp {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.0928571px;
      color: #1d1d1d;
      margin: 1em 0;
      font-family: "SFUIText-Regular";
      letter-spacing: 0.03em;
    }
    .btn-goggle {
      width: 400px;
      height: 50px;
      background: #ffffff;
      box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.08);
      border-radius: 12px;
      display: flex;
      justify-content: flex-start !important;
      padding: 0 20px;
      margin-bottom: 10px !important;
      align-items: center;

      .titleGoogle {
        font-family: "SFProText-Regular";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #1e1e1e;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
    .horizontal-line-input {
      width: 400px;
      height: 0px;
      border: 1px solid #d3d3d3;
      margin-bottom: 10px;
    }
    .horizontal-line {
      width: 180px;
      height: 0px;
      border: 1px solid #d3d3d3;
    }
    .container-title-input-register {
      width: 100%;
      margin-bottom: 1em;
    }
    .rowCustomerCode {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.8vw;
    }
    .input-value-register {
      width: 100%;
      border: none;
      border-bottom: 1px solid #d3d3d3;
      height: 50px;
    }
    .input-value-register::placeholder {
      color: #cacace;
    }
    .input-value-register:focus {
      outline: none;
    }
    .error-message-register {
      color: red;
      font-family: "SFUIText-Regular";
      font-size: 1em;
    }
    .imageLogin {
      max-width: 50%;
      max-height: 50%;
    }
    .container-btn-register {
      display: flex;
      flex-direction: row;
    }
    .headTitle {
      font-size: 2em;
      font-weight: 600;
      line-height: 1.2;
      font-family: "SFUIText-Regular";
    }
    .subTitle {
      color: #73818f;
    }
    .title-contact {
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      margin-top: 48px;
    }
    .container-footer-contact {
      display: flex;
      justify-content: center;
      align-items: baseline;
      img {
        height: 10%;
        margin: 0 1em;
        padding: 0;
      }
      .marginIcon {
        margin-top: 3px;
      }
    }
  }
}
.containerHeader {
  background-color: #ffffff;
}
.containerHeaderTab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.categoryHeader {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.input {
  margin-left: 30px;
  margin-right: 50px;
  width: 600px;
  border-radius: 10px;
}
.radio-text {
  font-family: "SFProText-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
  margin-bottom: 0;
  margin: auto 0;
  margin-right: 2rem;
}
.con-select {
  display: flex;
  flex-direction: row;
  border: 1px solid #929292;
  border-radius: 8px;
  margin-top: 0.8rem;
  img {
    margin-right: 0.5rem;
  }
  select {
    width: 100%;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    height: 40px;
    line-height: 40px;
    font-family: "SFUIDisplay-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5425px;
    color: #1d1d1d;
    padding: 0 0.5rem;
    cursor: pointer;
  }
}
.MuiCheckbox-colorPrimary.Mui-checked {
  color: #5ACC4D !important;
}
.MuiRadio-colorPrimary.Mui-checked {
  color: #5ACC4D !important;
}
.text-term-condition {
  font-family: "SFUIDisplay-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #3c3b3b;
  margin-left: 5px;
  margin-top: 10px;
  span {
    color: #4da1ff;
    cursor: pointer;
  }
}
.headerInput {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.iconButton {
  max-width: 50%;
  max-height: 50%;
  flex: 0;
  margin-left: 10px;
  margin-right: 10px;
}
.iconLeft {
  max-width: 30%;
  max-height: 20%;
  flex: 0;
  margin-left: 10px;
  margin-right: 10px;
}
.titleButton {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  letter-spacing: 0.0928571px;
  color: #000000;
  margin-bottom: 0;
  flex: 1;
  margin-left: 20px;
}

//mobile version
@media (max-width: 599px) {
  .modal-login {
    display: flex;
    justify-content: center;
    align-items: center;
    .container-modal-login {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      .login-modal-body {
        background-color: white;
        margin: auto;
        width: 300px;
        height: 500px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;
      }
      .titleInput {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 10px;
        letter-spacing: 0.0928571px;
        color: #8e8e8e;
        margin-bottom: 0;
      }
      .titleButton {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 0.0928571px;
        color: #000000;
        margin-bottom: 0;
        flex: 1;
        margin-left: 0;
      }
      .titleButtonLogin {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 0.0928571px;
        color: #000000;
        margin-bottom: 0;
        margin-left: 0;
      }
      .title {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 19px;
        color: #f3d641;
      }
      .titleHaveAcc {
        font-family: "SFUIText-Regular";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 19px;
        margin-right: 5px;
      }
      .btn-login {
        width: 180px;
        height: 30px;
        background: #ffd500;
        border-radius: 12px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 10px;
      }
      .btn-goggle {
        width: 180px;
        height: 30px;
        background: #ffffff;
        border-radius: 12px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-bottom: 20px;
      }
      .horizontal-line-input {
        width: 180px;
        height: 0px;
        border: 1px solid #d3d3d3;
        margin-bottom: 10px;
      }
      .horizontal-line {
        width: 150px;
        height: 0px;
        border: 1px solid rgba(0, 0, 0, 0.5);
      }
      .container-title-input {
        width: 180px;
      }
      .imageLogin {
        max-width: 40%;
        max-height: 25%;
      }
      .iconButton {
        max-width: 50%;
        max-height: 50%;
        flex: 0;
        margin-left: 20px;
      }
      .iconLeft {
        max-width: 30%;
        max-height: 20%;
        flex: 0;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
  .containerHeader {
    background-color: #ffffff;
  }
  .containerHeaderTab {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .categoryHeader {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .input {
    margin-right: 20px;
    margin-bottom: 10px;
    width: 250px;
  }
  .headerInput {
    display: flex;
    flex-direction: row;
  }
}

//tab version
@media (min-width: 600px) and (max-width: 1025px) {
  .containerHeader {
    background-color: #ffffff;
  }
  .containerHeaderTab {
    display: flex;
    flex-direction: row;
  }
  .categoryHeader {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .input {
    margin-right: 20px;
    width: 250px;
  }
  .headerInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
