@font-face {
  font-family: "SFUIDisplay-Regular";
  src: url("../assets/fonts/SFUIDisplay-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFUIDisplay-Bold";
  src: url("../assets/fonts/SFUIDisplay-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Medium";
  src: url("../assets/fonts/Lato-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFUIText-Regular";
  src: url("../assets/fonts/SFUIText-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFUIText-Bold";
  src: url("../assets/fonts/SFUIText-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SFProText-Regular";
  src: url("../assets/fonts/SFProText-Regular.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SFProText-Bold";
  src: url("../assets/fonts/SFProText-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../assets/fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../assets/fonts/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Black";
  src: url("../assets/fonts/Lato-Black.ttf");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Regular";
  src: url("../assets/fonts/Gotham-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans-Regular";
  src: url("../assets/fonts/NunitoSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans-Bold";
  src: url("../assets/fonts/NunitoSans-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
