@media only screen and (min-width: 480px) and (max-width: 767px) {
  .bgTP {
    margin-left: 4rem;
    padding-right: 3rem;
  }
  .paddingTP {
    padding-top: 7vw;
    padding-left: 10vw;
    padding-right: 30vw;
    margin-bottom: 10rem;
  }
  .breadCrumbTP {
    padding: 0;
    padding-left: 1px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .styleTPBold {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
  }
  .rowTotalPayment {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 2.5rem;
  }
  .containerTP {
    margin-top: 0.5rem;
  }

  .marginTP {
    margin-top: 6rem;
    width: 100%;
  }

  .marginTP1 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    width: 100%;
  }

  .marginButtonTP {
    margin-left: 2rem;
  }
  .rowBtnTP {
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
  .btnOkTP {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    background-color: #ffd500;
    border-radius: 8px;
    height: 48.5px;
    width: 331.5px;
  }

  .styleTPregular {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #3c3b3b;
  }
  .styleTPregular1 {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    color: #3c3b3b;
  }

  .styleTPCek {
    font-family: "SFProText-Regular";
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    color: #979797;
    margin-bottom: 1.5rem;
  }

  .styleTPKet {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #3c3b3b;
    width: 530px;
    letter-spacing: 0.02em;
  }
  .rowTimer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    margin: 0;
    margin-bottom: 3.5rem;
    background-color: #fff7d0;
    border-radius: 8px;
  }
  .iconTimer {
    width: 24px;
    height: 24px;
  }
  .styleTimer {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #303030;
    letter-spacing: 0.02em;
    margin: 0;
    margin-left: 1rem;
  }
  .styleTP {
    font-family: "SFUIText-Regular";
    font-size: 20px;
    line-height: 24px;
    color: #3c3b3b;
    font-weight: 600;
  }
  .styleTextPetunjuk {
    margin-top: 5px;
    font-family: "SFUIText-Regular";
    font-size: 16px;
    line-height: 18px;
    color: #3c3b3b;
    font-weight: 400;
  }
  .TPord {
    float: left;
    width: 93%;
  }
  .fontPriceTP {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    color: #fa591d;
    text-align: right;
    padding-left: 2rem;
    float: right;
  }

  .fontRekTP {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 32px;
    line-height: 38px;
    color: #ffd500;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
  .bgTP {
    margin-left: 2rem;
  }
  .paddingTP {
    padding-top: 7vw;
    padding-left: 6vw;
    padding-right: 7vw;
    margin-bottom: 10rem;
  }
  .breadCrumbTP {
    padding: 0;
    padding-left: 1px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .styleTPBold {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }
  .rowTotalPayment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-top: 1rem;
  }
  .containerTP {
    margin-top: 0.5rem;
  }

  .marginTP {
    margin-top: 6rem;
    width: 100%;
  }

  .marginTP1 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    width: 100%;
  }

  .marginButtonTP {
    margin-left: 2rem;
  }
  .rowBtnTP {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .btnOkTP {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    background-color: #ffd500;
    border-radius: 8px;
    height: 48.5px;
    width: 100%;
  }

  .styleTPregular {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #3c3b3b;
  }
  .styleTPregular1 {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    color: #3c3b3b;
  }

  .styleTPCek {
    font-family: "SFProText-Regular";
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #979797;
    margin-bottom: 1.5rem;
  }

  .marginTPregular {
    padding-right: 5rem;
  }

  .styleTPKet {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #3c3b3b;
    width: 100%;
    letter-spacing: 0.02em;
  }
  .rowTimer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 45px;
    padding-left: 10px;
    margin: 0;
    margin-bottom: 2.5rem;
    background-color: #fff7d0;
    border-radius: 8px;
  }
  @media only screen and (min-width: 360px) and (max-width: 410px) {
    .styleTimer {
      font-size: 14px !important;
      line-height: 18px !important;
    }
  }
  .iconTimer {
    width: 5vw;
    height: 5vw;
  }
  .styleTimer {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 15px;
    line-height: 19px;
    color: #303030;
    letter-spacing: 0.02em;
    margin: 0;
    margin-left: 0.5rem;
  }
  .styleTP {
    font-family: "SFUIText-Regular";
    font-size: 20px;
    line-height: 24px;
    color: #3c3b3b;
    font-weight: 600;
  }
  .styleTextPetunjuk {
    margin-top: 5px;
    font-family: "SFUIText-Regular";
    font-size: 16px;
    line-height: 18px;
    color: #3c3b3b;
    font-weight: 400;
  }
  .TPord {
    float: left;
    width: 93%;
  }

  .fontPriceTP {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #fa591d;
    text-align: right;
    float: right;
  }

  .fontRekTP {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 29px;
    line-height: 34px;
    color: #ffd500;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
  .bgTP {
    margin-left: 2rem;
  }
  .paddingTP {
    padding-top: 7vw;
    padding-left: 6vw;
    padding-right: 7vw;
    margin-bottom: 10rem;
  }
  .breadCrumbTP {
    padding: 0;
    padding-left: 1px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .styleTPBold {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .rowTotalPayment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-top: 1rem;
  }
  .containerTP {
    margin-top: 0.5rem;
  }

  .marginTP {
    margin-top: 6rem;
    width: 100%;
  }

  .marginTP1 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    width: 100%;
  }

  .marginButtonTP {
    margin-left: 2rem;
  }
  .rowBtnTP {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .btnOkTP {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    background-color: #ffd500;
    border-radius: 8px;
    height: 48.5px;
    width: 100%;
  }

  .styleTPregular {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #3c3b3b;
  }
  .styleTPregular1 {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 15px;
    line-height: 17px;
    color: #3c3b3b;
  }

  .styleTPCek {
    font-family: "SFProText-Regular";
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #979797;
    margin-bottom: 1.5rem;
  }

  .marginTPregular {
    padding-right: 5rem;
  }

  .styleTPKet {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 13px;
    line-height: 17px;
    color: #3c3b3b;
    width: 100%;
    letter-spacing: 0.02em;
    text-align: justify;
  }
  .rowTimer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 45px;
    padding-left: 5px;
    margin: 0;
    margin-bottom: 2rem;
    background-color: #fff7d0;
    border-radius: 8px;
  }
  .iconTimer {
    width: 5vw;
    height: 5vw;
  }
  .styleTimer {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    color: #303030;
    letter-spacing: 0.02em;
    margin: 0;
    margin-left: 5px;
  }
  .styleTP {
    font-family: "SFUIText-Regular";
    font-size: 20px;
    line-height: 24px;
    color: #3c3b3b;
    font-weight: 600;
  }
  .styleTextPetunjuk {
    margin-top: 5px;
    font-family: "SFUIText-Regular";
    font-size: 16px;
    line-height: 18px;
    color: #3c3b3b;
    font-weight: 400;
  }
  .TPord {
    float: left;
    width: 93%;
  }

  .fontPriceTP {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #fa591d;
    text-align: right;
    float: right;
  }

  .fontRekTP {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 26px;
    line-height: 31px;
    color: #ffd500;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 319px) {
  .bgTP {
    margin-left: 2rem;
  }
  .paddingTP {
    padding-top: 7vw;
    padding-left: 10vw;
    padding-right: 30vw;
    margin-bottom: 10rem;
  }
  .breadCrumbTP {
    padding: 0;
    padding-left: 1px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .styleTPBold {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
  }
  .rowTotalPayment {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 2.5rem;
  }
  .containerTP {
    margin-top: 0.5rem;
  }

  .marginTP {
    margin-top: 6rem;
    width: 100%;
  }

  .marginTP1 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    width: 100%;
  }

  .marginButtonTP {
    margin-left: 2rem;
  }
  .rowBtnTP {
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
  .btnOkTP {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    background-color: #ffd500;
    border-radius: 8px;
    height: 48.5px;
    width: 331.5px;
  }

  .styleTPregular {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    color: #3c3b3b;
  }
  .styleTPregular1 {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 15px;
    line-height: 21px;
    color: #3c3b3b;
  }

  .marginTPregular {
    padding-right: 5rem;
  }

  .styleTPKet {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #3c3b3b;
    width: 530px;
    letter-spacing: 0.02em;
  }
  .rowTimer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    margin: 0;
    margin-bottom: 3.5rem;
    background-color: #fff7d0;
    border-radius: 8px;
  }
  .iconTimer {
    width: 24px;
    height: 24px;
  }
  .styleTimer {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #303030;
    letter-spacing: 0.02em;
    margin: 0;
    margin-left: 1rem;
  }
  .styleTP {
    font-family: "SFUIText-Regular";
    font-size: 18px;
    line-height: 20px;
    color: #3c3b3b;
    font-weight: 600;
  }
  .styleTextPetunjuk {
    margin-top: 5px;
    font-family: "SFUIText-Regular";
    font-size: 16px;
    line-height: 18px;
    color: #3c3b3b;
    font-weight: 400;
  }
  .TPord {
    float: left;
    width: 93%;
  }

  .fontPriceTP {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    color: #fa591d;
    text-align: right;
    float: right;
  }

  .fontRekTP {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 30px;
    line-height: 34px;
    color: #ffd500;
    margin-bottom: 5px;
  }
}
