@import '../../themes/colors';
@import '../../themes/fonts';
@import '../../themes/size';


.close-button-row{
    display: flex;
    justify-content: flex-end;
    height: vw(30);
    width: 100%;
    .close-button{
        height: vw(30);
        width: vw(30);
        background-image: url('../../assets/images/close.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .close-button:hover{
        background-image: url('../../assets/images/close-hover.png');
    }
}

@media (min-width: 600px) and (max-width: 1025px) {
    .close-button-row{
        display: flex;
        justify-content: flex-end;
        height: vw-tab(30);
        width: 100%;
        .close-button{
            height: vw-tab(30);
            width: vw-tab(30);
            background-image: url('../../assets/images/close.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
        .close-button:hover{
            background-image: url('../../assets/images/close-hover.png');
        }
    }
}

@media (max-width: 599px) {    
    .close-button-row{
        display: flex;
        justify-content: flex-end;
        height: vw-mobile(20);
        width: 100%;
        .close-button{
            height: vw-mobile(20);
            width: vw-mobile(20);
            background-image: url('../../assets/images/close.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
        .close-button:hover{
            background-image: url('../../assets/images/close-hover.png');
        }
    }
}
