@media only screen and (min-width: 766px) and (max-width: 991px) {
  .search-textPromotion {
    font-size: 10px;
    flex: 1;
    margin-left: 30px;
  }
  .inputDetailPromoCode {
    border: 2px solid #d8d8d8;
    border-style: dotted;
    box-sizing: border-box;
    border-radius: 8px;
    flex: 1;
    height: 50px;
    justify-content: center;
    margin-top: 10px;
  }
  .dotPoin {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    margin: 0;
    margin-left: 20px;
  }
  .titlePoin {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .descriptionPromo {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-left: 5px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .boldPeriodeDetail {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #c60242;
    margin: 0;
    margin-left: 5px;
  }
  .titlePeriodeDetail {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    margin: 0;
    margin-left: 15px;
  }
  .imageCalendar {
    margin-left: 15px;
    width: 20px;
    height: 20px;
  }
  .titlePromoDetail {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-top: 10px;
  }
  .seeDetail {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    background-color: #ffd500;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    margin-top: 15px;
    text-align: center;
  }
  .seeOther {
    font-style: normal;
    font-weight: bold;
    text-align: right;
    font-size: 22px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #5d9fd6;
  }
  .search-detailPromotion {
    font-size: 12;
    flex: 1;
    margin-left: 20px;
  }
  .detailPromotionCode {
    background-color: #f2f2f2;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    border-radius: 8px;
    width: 270.28px;
    height: 40.36px;
  }
  .reedemVoucherDetail {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    background-color: #ffd500;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
    margin-top: 2.5px;
  }
  .imagePromotion {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 100%;
    transform: scale(1) !important;
  }
  .bgTP {
    margin-left: 4rem;
    padding-right: 3rem;
  }

  .containerTP {
    margin-top: 0.5rem;
  }

  .marginTP {
    margin-top: 6rem;
    width: 100%;
  }

  .marginTP1 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    width: 100%;
  }

  .marginButtonTP {
    margin-left: 2rem;
  }

  .styleTP {
    font-family: "SFUIText-Regular";
    font-size: 20px;
    line-height: 24px;
    color: #3c3b3b;
    font-weight: 600;
  }

  .TPord {
    float: left;
    width: 93%;
  }
}
