.page-not-found-container{
   position: absolute;
   z-index: 3;
   background-color: white;
   height: 100%;
   width: 100%;
   .wrong-url{
    font-size: 2.5em;
    text-align: center;
    color: black;
   }
}