@import "../../themes/colors";
@import "../../themes/fonts";
@import "../../themes/size";

.container-modall-denied {
  width: 100%;
  height: 100%;
  background-color: white;
  margin: auto;
  border-radius: vw(15);
  display: flex;
  flex-direction: column;
  align-items: center;
  .container-denied {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2vw 2vw;
  }
  .title-denied {
    font-family: "SFProText-Bold";
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  img {
    margin: 15px 0;
  }
  .title-message {
    font-family: "SFUIDisplay-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #636363;
  }

  .btn-success-order {
    background-color: #ffd500;
    border-radius: 7px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    display: flex;
    .title-confirm {
      font-family: "SFProText-Bold";
      margin: auto;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
    }
  }
}
